html {
  height: 100%;
}

body {
  margin: 0;
  height: inherit;

  & > div {
    height: inherit;
    width: 100%
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: inherit;
  font-family: 'PlayfairDisplay', serif;

  main {
    display: flex;
    flex: 1;
    max-width: 82%;
    width:82%;
    margin: 0 auto;

    @media (min-width: 1920px) {
      max-width: 1440px;
    }
  }
}
